/* 盒子样式 */
/* <link rel="stylesheet"(样式表声明)> */
/* <style>
    @import url();
</style> */
.body-1{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 100%;
}
    .box-1{
        margin: 0%;
        padding: 0%;
        width: 1200px;
        height: 100px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        background-color: rgb(245,245,245);
    }
        .box-1-1{
            margin: 0%;
            padding: 0%;
            display: flex;
            width:300px;
            height:100px;
        }
        .box-l-2{
            margin: 0%;
            padding: 0%;
            color: rgb(0, 61, 163);
            width: 820px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 300%;
        }
    .box-2{
        margin: 0%;
        padding: 0%;
        width: 1200px;
        height: 1900px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;     
        background-color: rgb(245,245,245);
    }
        .box-2-1{
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50px;
        background-color: rgb(0, 61, 163);
        width: 900px;
        height: 400px;
        font-size: 200%;
        color: aliceblue;
        opacity:0.8;
        }
            .box-2-1-1{
                margin: 0%;
                padding: 0%;
                display: flex;
                padding-bottom: 26px;
                padding-left: 150px;
            }
        .box-2-2{
            margin: 0%;
            padding: 0%;
            background-color: rgb(0, 61, 163);
            width: 900px;
            height: 1200px;
            color: aliceblue;
            border-radius: 50px;
            opacity:0.8;
        }
            .box-2-2-1{
                margin: 0%;
                padding: 0%;
                font-size: 300%;
                padding-top: 5%;
                display: flex;
                justify-content: center
            }
            .box-2-2-2{
                margin: 0%;
                padding: 0%;
                font-size: 29px;
                line-height: 50px;
                padding-top: 30px;
                padding-left: 50px;
                padding-right: 50px;
                display: flex;
                justify-content: center
            }
    .box-img{
        margin: 0%;
        padding: 0%;
        width: 1200px;
        height: 1000px;
        display: flex;
        flex-direction: column
    }   
        .box-img-1{
            margin: 0%;
            padding: 0%;
            width: 600px;
            height: 1000px;
            display: flex;
        } 
            .box-img-1-1{
            margin: 0%;
            padding: 0%;
            width: 600px;
            height: 500px;
            }