/* 电建蓝 */
/* <link rel="stylesheet"(样式表声明)> */
/* <style>
    @import url();
</style> */
.djl{
    color: rgb(0, 61, 163);
    margin: 0%;
    padding: 0%;
    width: 600px;
    display: flex;
    text-align:center;
}